<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabi.rdiabeticos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCondiciones"
            android:label="@string/title_activity_activity_condiciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityInstrucciones"
            android:label="@string/title_activity_instrucciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPerfil"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityRecetas"
            android:label="@string/title_activity_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCalculadora"
            android:label="@string/title_activity_activity_juego"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityLogin"
            android:label="@string/title_activity_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySeleccion"
            android:label="@string/title_activity_activity_seleccion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityTarta"
            android:label="@string/title_activity_activity_tarta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBatidos"
            android:label="@string/title_activity_activity_batidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBolleria"
            android:label="@string/title_activity_activity_bolleria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFrutas"
            android:label="@string/title_activity_activity_frutas"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
